<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.mybatis.org/mybatis-3/ko/getting-started.html -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.app.mapperImpl.BoardMapperImpl">
<!-- http://www.mybatis.org/mybatis-3/ko/configuration.html -->
	<select id="insertBoard"  parameterType="cmd">
		INSERT INTO board 
		VALUES(seq.nextval,#{board.title},#{board.content},sysdate,#{board.userid})
	</select>
  <select id="selectBoardALL" resultType="board" parameterType="cmd">
  		SELECT *
			FROM 
				(SELECT *
		  		FROM
		  				(SELECT ROWNUM rownu, BBS_SEQ AS bbsSeq,title,content,regdate,id AS userid 
		  				FROM board) 
		  		WHERE #{paging.endRow} >= rownu ) 
  		WHERE rownu >= #{paging.startRow}
  		<!-- WHERE #{paging.endRow} > ROWNUM AND ROWNUM > #{paging.startRow} -->
  </select>
  <select id="selectBoardByid" parameterType="cmd" resultType="board">
  		SELECT BBS_SEQ AS bbsSeq,title,content,regdate,id AS userid 
  		FROM board 
  		WHERE BBS_SEQ like #{board.bbsSeq}
  </select>
  <select id="updateBoard" parameterType="cmd" resultType="board">
  		UPDATE board
		SET title = #{board.title}, content = #{board.content}
		WHERE BBS_SEQ like #{board.bbsSeq} AND id like #{board.userid}
  </select>
 <select id="count" resultType="int">
  		SELECT count(*) 
  		FROM board
  </select>
  <delete id="delete" parameterType="cmd"></delete>
</mapper>